.menu{
    display: none;
}

header{
    width: 100%;
    min-height: 100px;
    max-width: 1530px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 999;
}
a{
    color: black;
    text-decoration: none;
    
}
.logo>img{
    width: 150px;
}

li{
    list-style: none;
}
.menu-list{
    display: flex;
    padding: 0;
    margin: 0;
}

.menu-list>li{
   padding: 0 1rem;
}
.menu-sections{
    font-weight: bold;
}
header>.cart{
    position: relative;
    cursor: pointer;
}
header>.cart>box-icon{
    width: 45px;
    height: 45px;
    fill: white;
}

header>.cart>span{
    position: absolute;
    top: -1rem;
    right: -1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: white;
}
.nav-menu{
    display: none;
}

@media screen and (max-width:640px) {
    .menu{
        display: block;
    }
    .logo{
         display: none; 
    }
    .menu-list{
         display: flex;
         flex-direction: column;
    }
    .menu-list>li{
        display: none;
    }
    
    .nav-menu{
        background-color:#F3BC58;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        top: -400%;
        transition: 2s;
        z-index: 999;
    }
    .nav-menu.active{
        top: 0;
        transition: 1s;
    }
    .nav-text{
       display: flex;
       font-size: 8vw;
       align-items: center;
       justify-content: center;
       padding: 20px 0px 8px 16px;
       list-style: none;
       height: 60px;
    }
    .navbar-toggle{
       
        width: 100%;
        
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: 4% 0;
        padding: 0 3%;
        align-items: center;
     
    }
    .navbar-toggle> img{
        width: 27%;
        height: auto;
        margin-left: 5%;
        border-radius: 10px;
        object-fit: cover;
    }
    .nav-text a:hover{
        font-size: 9vw;
    }
    .nav-menu-items{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;
    }
    .menu-bars{
        margin: 2% 0;
        background: none;
        display: flex;
        padding: 0 5%;
    }
    .menu-bars>img{
        width: 50px;
    }
    .menu-bars>svg{
        width: 50px;
        height: auto;
    }

    
}
@media screen and (min-width:640px) {
 
    .logo>img{
        border-radius: 20px;
   }  
   .menu-list{
       font-size: 2.6vw;
   }
  
}
@media screen and (min-width:768px) {
    .logo>img{
         border-radius: 15px;
    }  
    .menu-list{
        font-size: 3vw;
    }
    
}
@media screen and (min-width:1024px) {
 
    .menu-list{
        font-size: 2.5vw;
    }
    
}