@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

html{
  font-family: 'Gloria Hallelujah', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --font-family: 'Poppins', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

.App{
   max-width: 1550px;
   width: 100%;
   min-height: 100vh;
   margin: 0 auto;
   box-sizing: 0 2px 6px;
   box-sizing: border-box;
}