@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --font-family: 'Poppins', sans-serif;
}
.card-products{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
    border-radius: 50px;
    

}
.card-products > img{
    width: 72%;
    height: 60vw;
    padding: 15%;
    border-radius: 80px;
    object-fit: cover; 
}
.card-products>h1{
    margin-top: -11%;
    font-size: 7.5vw;

} 
.card-products>p{
    font-family:var(--font-family) ;
    text-align: center;
    padding: 0 6%;

}
.buttons{
    width: 27%;
    display: flex;
    align-items: center;
    
}
 .buttons>button{
     cursor: pointer;
     width: 100%;
     height: auto;
     font-size: 3vw;
     border: none;
     margin: 10% 0;
     border-radius: 10px;
     background-color: aqua;
     padding: .1rem;
     
 }
 .buttons>h1{
     margin: 0 30%;
 }
 .postionCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 @media screen and (min-width:320px) {
  .card-products{
      width: 70%;
  }
  .card-products>img{
    width: 70%;
    height: 50vw;
  }
  .card-products>h1{
      font-size: 5vw;
  }
   
}
@media screen and (min-width:640px) {
  
    
    .card-products{
        width: 85%;
        
    }
    .card-products>img{
      width: 80%;
      height: 40vw;
    }
    .card-products>h1{
        font-size: 4vw;
    }
    .buttons>button{
        font-size: 2.4vw;
    }
}
@media screen and (min-width:780px) {
    .card-products{
        width: 70%;
        
    }
    .card-products>img{
      width: 70%;
      height: 30vw;
    }
    .card-products>h1{
        font-size: 3vw;
    }
    .buttons>button{
        font-size: 2vw;
        
    }
}
@media screen and (min-width:1024px) {
    .card-products{
        width: 85%;
        
    }
    .card-products>img{
      width: 80%;
      height: 20vw;
    }
    .card-products>h1{
        font-size: 2vw;
    }
    .buttons>button{
        font-size: 1vw;
        
    }
}